<header class="timPlus_header after"><!--header (최상단 메뉴)-->
      <h1 class="logo"><a href="/teacher/class_mission_main.asp">Timplus</a></h1>
      <nav class="timPlus_nav">
          <ul class="main_menu">
              <li><a href="http://test.timplus.co.kr/teacher/calendar_mission_main.asp">일정</a></li>
              <li><a href="http://test.timplus.co.kr/teacher/class_mission_main.asp">수업</a></li>
              <li><a href="http://test.timplus.co.kr/teacher/class_management.asp">반 관리</a></li>
              <li><a href="http://test.timplus.co.kr/teacher/nie.asp">NIE</a></li>
              <% if user_signed_in? %>
                <li><span><%= current_user.name%></span></li>
                <li><%= link_to "로그아웃",destroy_user_session_path, method: :delete %></li>
                <li><%= link_to "rails_db",rails_db_path%></li>
              <% else %>
                <li><%= link_to "로그인",new_user_session_path %></li>
              <% end %>
<!--                    <li><a href="#">보관함</a></li>-->
          </ul>
          <div class="news">
              <div class="setting">
                  <a href="#"><div class="profile_image" data-upic="/Data/10/member/IMG_6955.GIF"></div></a>
                  <ul class="setting_menu">
                      <li><a href="http://test.timplus.co.kr/teacher/teacher_profile.asp"><span></span>개인정보수정</a></li>
                      <li><a href="http://test.timplus.co.kr/teacher/timplus_qna.asp"><span></span>이메일 문의</a></li>
                      <li><a href="http://test.timplus.co.kr/teacher/announcement.asp"><span></span>공지사항</a></li>
                      <li><a href="http://test.timplus.co.kr/process/logoutProc.asp"><span></span>로그아웃</a></li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>